html, body {
    margin: 0px;
    background: #2F4F30;
    color: white;
    overflow-x: hidden;
}


.titulo {
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    font-size: 20px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}